# dependencies
/node_modules

# production
/dist

# misc
.DS_Store

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
